---
import { entrantes, principales, postres, tragos } from "../../constants";
---

<main class="bg-white py-6 px-4">
  <div class="md:max-w-[1200px] md:mx-auto">
    <h1 class="text-4xl md:text-6xl text-center">Entradas</h1>
    <p class="text-xs text-center">
      This is a section of your menu. Give your section a brief description
    </p>
    <div class="grid grid-cols-1 md:flex md:items-center md:gap-8">
      <img
        src="assets/images/entrante-image.webp"
        alt="foto de ensalada"
        class="rounded-xl md:w-2/3 md:h-[400px] md:object-cover my-6"
      />
      <div class="md:flex md:flex-col">
        {
          entrantes.map((entrante) => (
            <>
              <div class="border-t-4 border-dotted border-black p-4">
                <h3 class="text-2xl">{entrante.titulo}</h3>
                <p class="text-xs">{entrante.descripcion}</p>
                <p class="text-right text-2xl font-bold">${entrante.precio}</p>
              </div>
            </>
          ))
        }
      </div>
    </div>
  </div>
  <div class="md:max-w-[1200px] md:mx-auto">
    <h1 class="text-4xl md:text-6xl text-center">Principales</h1>
    <p class="text-xs text-center">
      This is a section of your menu. Give your section a brief description
    </p>
    <div
      class="grid grid-cols-1 md:flex md:flex-row-reverse md:items-center md:gap-8"
    >
      <img
        src="assets/images/principales-image.webp"
        alt="foto de ensalada"
        class="rounded-xl md:w-2/3 md:h-[400px] md:object-cover my-6"
      />
      <div class="md:flex md:flex-col">
        {
          principales.map((principal) => (
            <>
              <div class="border-t-4 border-dotted border-black p-4">
                <h3 class="text-2xl">{principal.titulo}</h3>
                <p class="text-xs">{principal.descripcion}</p>
                <p class="text-right text-2xl font-bold">${principal.precio}</p>
              </div>
            </>
          ))
        }
      </div>
    </div>
  </div>
  <div class="md:max-w-[1200px] md:mx-auto">
    <h1 class="text-4xl md:text-6xl text-center">Postres</h1>
    <p class="text-xs text-center">
      This is a section of your menu. Give your section a brief description
    </p>
    <div class="grid grid-cols-1 md:flex md:items-center md:gap-8">
      <img
        src="assets/images/mousse-chocolate.webp"
        alt="foto de ensalada"
        class="rounded-xl md:w-2/3 md:h-[400px] md:object-cover my-6"
      />
      <div class="md:flex md:flex-col">
        {
          postres.map((postre) => (
            <>
              <div class="border-t-4 border-dotted border-black p-4">
                <h3 class="text-2xl">{postre.titulo}</h3>
                <p class="text-xs">{postre.descripcion}</p>
                <p class="text-right text-2xl font-bold">${postre.precio}</p>
              </div>
            </>
          ))
        }
      </div>
    </div>
  </div>
  <div class="md:max-w-[1200px] md:mx-auto">
    <h1 class="text-4xl md:text-6xl text-center">Tragos de Autor</h1>
    <p class="text-xs
      text-center">
      This is a section of your menu. Give your section a brief description
    </p>
    <div
      class="grid grid-cols-1 md:flex md:flex-row-reverse md:items-center md:gap-8"
    >
      <img
        src="assets/images/mojito.webp"
        alt="foto de ensalada"
        class="rounded-xl md:w-2/3 md:h-[400px] md:object-cover my-6"
      />
      <div class="md:flex md:flex-col">
        {
          tragos.map((trago) => (
            <>
              <div class="border-t-4 border-dotted border-black p-4">
                <h3 class="text-2xl">{trago.titulo}</h3>
                <p class="text-xs">{trago.descripcion}</p>
                <p class="text-right text-2xl font-bold">${trago.precio}</p>
              </div>
            </>
          ))
        }
      </div>
    </div>
  </div>
</main>
